
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container
{
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 3em 0;
}

.square
{
    width: 100px;
    height: 100px;
    background-color: palegoldenrod;
    border: 1px solid #333;
    text-align: center;
    line-height: 100px;
    font-size: 25px;
}

#start_button
{
    padding: 1em;
}

#site_header
{
    display: flex;
    justify-content: space-between;
    padding: 3em;
    height: 100px;

    h2 
    {
        text-align: center;
    }
}

#site_main
{
    height: calc(100vh - 200px);
    min-height: 600px;
    background-color: paleturquoise;
}

#site_footer
{
    height: 100px;
    font-size: 50px;
    i 
    {
        font-size: 40px;
        color: red;
    }
}